# Caching folders
*.DS_Store
**/cache
**/logs
**/repositories
**/target
.temp/
.sass-cache/

# Dependency directory
node_modules/

# node-waf configuration
.lock-wscript

# Grunt intermediate storage
.grunt

# Logs
logs
*.log

# Coverage and reporting
.reports/
.idea/

# IDE specific files
*.iml

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.classpath

# Eclipse Core
.project
Servers/**
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_2
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_2.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_3
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_3.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_4
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_4.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_5
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_5.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_6
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_7
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_6.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_7.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_8
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_8.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_9
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_9.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_a
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_a.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_b
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_b.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_c
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_c.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_d
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_e
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_d.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_e.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_f
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_f.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_g
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_g.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_h
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_i
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_h.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_i.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_j
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_k
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_j.fdt
