/******************Benefits Carousel********************/
	
.benefits-carousel-module {
	padding: 0;
	.carousel {
		height: 440px;
		overflow: hidden;
		@include until('1024px') {
			height: 340px;
		}
		@include media-size('mobile') {
			height: 200px;	
		}
		.left {

			&:hover {
				cursor: pointer;
			}
			.control-left {
				background-image: url(../images/carousel_arrow.png);
				display: block;
				position: absolute;
				width: 51px;
				height: 86px;
				top: 33%;
				left: 50%;
				@include media-size('mobile') {
					width: 26px;
					height: 42px;
					background-size: cover;
					top: 41%;
					left: 22%;
				}
			}
		}
		.right {

			&:hover {
				cursor: pointer;
			}
			.control-right {
				background-image: url(../images/carousel_arrow_right.png);
				display: block;
				position: absolute;
				width: 51px;
				height: 86px;
				top: 33%;
				right: 50%;
				@include media-size('mobile') {
					width: 26px;
					height: 42px;
					background-size: cover;
					top: 41%;
					right: 22%;
				}
			}
		}
		.item {
			.img-responsive {
				width: auto;
				min-width: 100%;
				max-width: none;
				height: 100%;
				@include media-size('mobile') {
					opacity: 0.6;
					max-width: 300%;
					width: auto;
					height: 200px;
				}
			}
			.carousel-caption {
				top: 30%;
				p {
					font-size: $font-h2-size;
					line-height: 1.4;
					text-align: left;
					text-shadow: 0 0 35px $white;
					color: $mtn-black;
					@include media-size('mobile') {
						font-size: 18px;
					}
				}

				@include until('1024px') {
					top: 25%;
				} 

				@include until($screen-sm-max) {
					width: auto;
					top: 20%;
				}
			}
			
		}

	}
}