/******************Generic tabbed module********************/

.generic-module-tabbed {

	.single-item-title{
		margin-top: 0;
		@include media-size('mobile'){
			margin-top: 20px;
			margin-bottom: 0px;
		}
	}
	.single-item-body {
		p {
			margin-top: 20px;
		}
	}

	.tabs {
		ul {
			list-style: none;
			padding-left: 0;
			position: relative;
			z-index: 999;

			li {
				background: $alto; /* Old browsers */
				background: -moz-linear-gradient(top, $alto 0%, #ffffff 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $alto), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, $alto 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, $alto 0%,#ffffff 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, $alto 0%,#ffffff 100%); /* IE10+ */
				background: linear-gradient(to bottom, $alto 0%,#ffffff 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$alto', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				padding: 20px 0 20px 10px;
				font-size: 20px;
				border: 1px solid $color-border-primary;
				border-top: none;
				cursor: pointer;
				&:first-of-type {
					border-top: 1px solid $color-border-primary;
				}
				.tab-title {
					display: inline-block;
					max-width: 110px;
					margin-left: 10px;
					&:after{
						font-family: 'FontAwesome';
						content: "\f105";
	    				font-size: 20px;
    					font-weight: bold;
    					@include media-size('mobile') {
    						content: "\f107";
    					}
					}
					@include media-size('mobile') {
						max-width: 100%;
					}
					@include media-size('tablet-portrait') {
						margin-left: 0;
					}
				}			
			}
			.selected {
				border-right: none;
				background: $white;
				color: $mtn-yellow;
			}
		}
	}
	.tab {
		position: relative;
		z-index: 99;
		padding: 30px;
		min-height: 374px;
		margin-left: -1px;
		border: 1px solid $color-border-primary;
		background-color: $white;
		.tab-title {
			margin: 0 auto 20px auto;
			font-size: $font-h3-size;
			font-weight: normal;
		}
		@include media-size('tablet-portrait') {
			margin-left: -2px;
		}
	}
	@include media-size('mobile') {
		.tabs {
			padding-left: 0;
			ul {
				.selected {
					border-right: 1px solid $color-border-primary;
				}
			}
		}
		.tab {
			padding-left: 15px;
			padding-right: 15px;
			margin-top: 20px;
			margin-left: 0px;
			border: none;
			.img-responsive{
				margin-bottom: 20px;
				width: 100%;
			}
		}
	}
}