/******************intro module********************/

.intro-module {
    background-color: $white!important;
    img{
        margin-bottom: 20px;
    }
    img + p {
        font-size: 18px;
        display: inline;
        margin-left: 0;
        @media (max-width: 1200px) {
            padding-bottom: 0;
        }
        @include media-size('mobile') {
            display: block;
            padding-bottom: 20px;
            border-bottom: 1px solid $alto;
        }
    }
    p{
        width: 180%;
        margin-top: 20px;
        margin-left: 40px;
        line-height: 24px;
        @include media-size('tablet-portrait') {
            margin-top: 15px;
        }
        @include media-size('mobile') {
            margin-top: 20px;
            text-align: center;
            width: 100%;
            margin-left: 0; 
            margin-top: 10px;
        }
    }
    @include media-size('mobile') {
        padding: 40px 0;
    }
	.link-video-modal {
    	font-weight: bold;
    	margin:45px 0 0 0;
        .glyphicon-play-circle{
            color: $mtn-yellow;
            margin-left: 5px;
            font-size: 18px;
        }
        @include media-size('mobile') {
            margin:25px 0 0 0;
        }
    }
    .modal-header {
    	border-bottom: none;
    }
    video {
    	width: 100%; 
    }
    .img-thumbnail{
    	margin: 35px auto;
    }

}

.inline-block {
	display: inline-block;
}