/******************Pricing modules********************/
.pricing-module {
	h2{
		margin-top: 0;
	}
	ul {
		margin-left: -24px;
		font-size: 16px;
	}

	.pricing-tier {
		text-align: center;
		@media(max-width:769px) and (min-width: 765px) {
			width: 266px;
		}
		p {
			line-height: 0.8;
		}
		.tier-addon,
		.tier-pricing,
		.tier-bundle,
		.tier-cta {
			background-color: $white;
			-webkit-box-shadow: 2px 3px 1px 0px rgba(205,205,205,1);
			-moz-box-shadow: 2px 3px 1px 0px rgba(205,205,205,1);
			box-shadow: 2px 3px 1px 0px rgba(205,205,205,1);

		}

		.border-top {
			@include solid-line(top, 1px, $dusty-grey);
			p {
				padding-top: 10px;

			}
		}
		.tier-title {
			width: 100%;
			display: table;
			padding: 11px 2px;
			min-height: 76px;
			-webkit-box-shadow: 2px 3px 1px 0px rgba(205,205,205,1);
			-moz-box-shadow: 2px 3px 1px 0px rgba(205,205,205,1);
			box-shadow: 2px 3px 1px 0px rgba(205,205,205,1);
			h4 {
				display: table-cell;
				vertical-align: middle;
				color: $white;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 16px;
			}

			&.bg-primary {
				background: $tundora;
			}
		}
		.panel-body,.panel-heading {
			padding: 0;
		}

		.tier-addon {
			min-height: 60px;

			table {
				margin-bottom:0;
				@include solid-line(bottom, 1px, $dusty-grey);
				tr {
					td {
						padding: 15px 10px;
						border: none;
						&:nth-of-type(2){
							text-align: right;
						}
						text-align:left;
						vertical-align: middle;
						p {
							margin-bottom: 0;
						}
						.fa {
							color: $dove-grey;
							font-size: 12px;
						}
						.counter-field {
							text-align: center;
						}
						label {
							color: $tundora;
							font-size: 16px;
						}
						@media(max-width:769px) {
							select {
								font-size: 12px;
							}
						}
						.licence-alignment-left {
							margin-left: 5px;
						}
						.licence-alignment-right {
							margin-right: 5px;
						}
					}
				}
			}
		}
		.tier-subscribed {
			text-align: left;
			padding: 15px;
			@include solid-line(bottom, 1px, $dusty-grey);
			p {
				line-height: 1.2;
				a {
					font-weight: normal;
				}
			}
		}
		.tier-pricing {
			padding: 30px 0;
			.price {
				font-size: $font-h1-size;
				font-weight: bold;
				color: $mtn-yellow;
				small {
					color: $mtn-yellow;
					font-size: 22px;
					text-transform: uppercase;
				}
			}
			small {
				text-transform: lowercase;
				text-align: center;
				line-height: 0.5;
				font-size: 16px;
				font-weight: bold;
				color: $tundora;
			}
			.free {

			}

		}
		.tier-bundle {
			padding: 10px 0;
			text-align: left;
			line-height: 16px;
			p {
				padding: 1px 0 0 0;
				line-height: 16px;
			}
		}
		.tier-cta {
			padding: 0 25px 30px 25px;
		}


		.eoi {

			h2	{
				margin: 0;
			}

			.reason-dropdown-btn {
				width: 80%;
			}
		}
		.grey-overlay {
			opacity: 0.5;
		}
	}
}
