.product-page {
	margin-bottom: -70px;
	.product-module {
		padding: 70px 0;
		&:nth-of-type(even) {
			
			background-color: $alto;
		}
		&:nth-of-type(odd) {
			.tier-bundle,.tier-pricing,.tier-cta {
				background-color: $gallery!important;
			}
		}
		
		.horizontal-scroll-outer {
			overflow-x: hidden;
			width: 100%;
			padding: 15px;
			.horizontal-scroll-inner {
				width: 100%;
				@media screen and (max-width: 1025px) {
					width: 200%;
				}
				-webkit-transition:all 0.5s ease-out;
				-moz-transition:all 0.5s ease-out;
				-o-transition:all 0.5s ease-out;
				transition:all 0.5s ease-out;
				.col-scroll-4 {
					width: 380px;
					position: relative;
					min-height: 1px;
					padding-left: 15px;
					padding-right: 15px;
					float: left;
				}

				.col-scroll-3 {
					width: 292px;
					position: relative;
					min-height: 1px;
					padding-left: 15px;
					padding-right: 15px;
					float: left;
				}
			}
		}
		@include media-size('mobile') {
			padding: 45px 0;
			.horizontal-scroll-outer {

				.horizontal-scroll-inner {
					width: 100%;

					.col-scroll-4 {
						width: 370px;
					}

					.col-scroll-3 {
						width: 370px;
					}
				}
			}
		}
	}
}
