/******************single feature********************/

.single-feature-module {
	background-color: $tundora !important;

	h2 { 
		min-height: $font-h2-size;
		color: $white;
		@include media-size('mobile'){
    		min-height: 0;
    	}
	}
	p {
		color: $white;
		margin-top: 15px;
		strong {
			font-size: 18px;
		}
	}
	.col-sm-6 {
	    width: 35%;
    	margin-right: 15%;
    	@include until('1100px'){
    		margin-right: 0px;
    		width: 50%;
    	}
    	@include media-size('mobile'){
    		width: 100%;
    	}
	}
}