/******************Tech spec********************/

.tech-spec-module {
	background-color: $mine-shaft !important;
	.limit-height {
		max-height:400px;
		overflow: hidden;
		-webkit-transition: max-height 1200ms ease-out;
		-moz-transition: max-height 1200ms ease-out;
		-o-transition: max-height 1200ms ease-out;
		transition: max-height 1200ms ease-out;
		h2{
			margin-top: 0;
			color: $white;
		}
		p{
			color: $white;
			a {
				color: $mtn-yellow;
			}
			a:hover, a:focus {
				color: $grey;
			}
		}
		ul{
			padding-left: 18px;
			li{
				font-size: 16px;
				color: $white;
			}
		}
	}
	.extend-height {
		max-height: 9999px;
	}
	.view-hide-links {
		margin-top: 20px;
		a{
			color: $mtn-yellow;
		}
	}
	
}