.product-tiers {

    .bt-row {

        .cta a {
            margin-left: 0;

        }

    }

    .title {
        font-weight: bold;
        padding-top: 13px;
        margin-bottom: 0;
    }

    .features {
        font-size: 13px;
        padding-top: 0;
        line-height: 17px;
        margin-bottom: 22px;
    }

    .strong {
        font-family: $font-secondary-bold;
        font-size: 26px;
        padding-top: 22px;
    }

    .cost p {

        span {
            font-family: $font-family-sans-serif;
            font-size: 14px;
            font-weight: normal;
        }
    }

}