<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org" ng-app="Darwin-SaaS"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9" xmlns:ng="http://angularjs.org" ng-app="Darwin-SaaS"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js lt-ie10" ng-app="Darwin-SaaS"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js" xmlns:ng="http://angularjs.org" ng-app="Darwin-SaaS">
    <!--<![endif]-->

    <head>
        <!--[if IE 8]>
        <script type="text/javascript">
          document.createElement('form-select');
          document.createElement('form-field');
          document.createElement('accordion');
          document.createElement('ng-transclude');
          document.createElement('ng-include');
          document.createElement('ng-pluralize');
          document.createElement('ng-view');


          // Optionally these for CSS
          document.createElement('ng:include');
          document.createElement('ng:pluralize');
          document.createElement('ng:view');
        </script>
    <![endif]-->

        <!--[if IE 8]><meta http-equiv="X-UA-Compatible" content="IE=8" /><![endif]-->
	
        <title>Wecome!</title>

        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="google-site-verification" content="1TaucMQTKjtB303SPoVjshz9PURLURfyoLdJc746Dtk" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link href="docroot/css/style.css" rel="stylesheet" type="text/css" />
        <script src="docroot/js/base/modernizr.js"></script>
      
    </head>

    <body>

       

    </body>

</html>
