<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<description>Magnolia</description>
	<display-name>magnolia</display-name>
	<distributable />
    
	<filter>
		<filter-name>xssFilter</filter-name>
		<filter-class>com.bcsg.saas.filters.SaaSXssFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xssFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<display-name>Home filter</display-name>
		<filter-name>homeFilter</filter-name>
		<filter-class>info.magnolia.module.blossom.web.InstallationAwareDelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>homeFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>Spring security filter chain</display-name>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>info.magnolia.module.blossom.web.InstallationAwareDelegatingFilterProxy</filter-class>
	</filter>

	<filter>
		<filter-name>userFilter</filter-name>
		<filter-class>com.bcsg.saas.security.UserFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<display-name>Brand filter</display-name>
		<filter-name>brandFilter</filter-name>
		<filter-class>info.magnolia.module.blossom.web.InstallationAwareDelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>brandFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<display-name>Language filter</display-name>
		<filter-name>languageFilter</filter-name>
		<filter-class>info.magnolia.module.blossom.web.InstallationAwareDelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>languageFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>Asset Cache-Control filter</display-name>
		<filter-name>assetCacheControlFilter</filter-name>
		<filter-class>com.bcsg.saas.filters.AssetCacheControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>assetCacheControlFilter</filter-name>
		<url-pattern>/docroot/*</url-pattern>
		<url-pattern>/dam/*</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>Jersey service filter</display-name>
		<filter-name>jerseyServiceFilter</filter-name>
		<filter-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</filter-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.bcsg.saas.rest;com.bcsg.saas.sso</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- This param is so that we can forward to JSPs from Jersey controllers -->
		<init-param>
			<param-name>com.sun.jersey.config.property.JSPTemplatesBasePath</param-name>
			<param-value>/WEB-INF/jsp/</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jerseyServiceFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>jerseyServiceFilter</filter-name>
		<url-pattern>/sso/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>Magnolia global filters</display-name>
		<filter-name>magnoliaFilterChain</filter-name>
		<filter-class>info.magnolia.cms.filters.MgnlMainFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>magnoliaFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>info.magnolia.init.MagnoliaServletContextListener</listener-class>
	</listener>
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>magnolia.initialization.file</param-name>
		<param-value>
			WEB-INF/config/workstations/${servername}-${contextParam/magnoliaInstance}-magnolia.properties,
			WEB-INF/config/workstations/${servername}-magnolia.properties,
		    WEB-INF/config/server/${servername}-magnolia.properties,
		    WEB-INF/config/${servername}-${contextParam/magnoliaInstance}-magnolia.properties,
		    WEB-INF/config/${servername}-magnolia.properties,
		    WEB-INF/config/${contextParam/magnoliaInstance}-magnolia.properties,
		    WEB-INF/config/${contextPath}/${servername}-magnolia.properties,
		    WEB-INF/config/${contextPath}/magnolia.properties,
		    WEB-INF/config/default-magnolia.properties
		</param-value>
	</context-param>

	<!-- Managed for Jersey -->




	<servlet>
		<servlet-name>dummy</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
	            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
	        </param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.bcsg.external.config</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>dummy</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<!-- End -->

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
		<location>/WEB-INF/templates/pages/error.jsp</location>
	</error-page>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
</web-app>