.logged-in {

    &.dark {
        background-color: $brand-bg;
    }

    .container {
        background-color: $brand-bg-darker;
        height: 40px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    p,
    a {
        font-family: $font-secondary-light;
        margin-bottom: 0;
    }

    p {
        line-height: 29px;
        padding-top: 7px;

        span {
            margin-left: 20px;
            padding-left: 20px;
            @include dotted-line(left, $gray-darker);
            display: inline-block;
            height: 28px;
        }
    }


    .account-links {
        margin-bottom: 0;
        text-align: right;
        position: relative;

        @include until($screen-xs-max) {
            text-align: center;
        }

        & > li {
            position: relative;

            &:first-child {
                margin-right: 11px;
                padding-right: 18px;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 6px;
                    right: 0;
                    height: 28px;
                    @include dotted-line(right, $brand-primary);
                }
            }

            & > a {
                margin-bottom: 0;
                border-bottom: 0;
                line-height: 40px;
                height: 40px;
                display: inline-block;
                position: relative;

            }


            &:hover > a:before {
                bottom: -11px;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: $brand-light-text;
                border-width: 22px;
                margin-left: -22px;
                z-index: 101;
            }

            &.noDropdown{
                &:hover > a:before{
                    border: none;
                    display: none;
                }
            }


            & > .rollover {

                display: none;

                position: absolute;
                top: 40px;
                right: -17px;
                width: 468px;
                /*height:350px;*/
                border-bottom: 5px solid $brand-primary;
                background-color: $brand-light-text;
                @include box-shadow(1px 2px 5px 0px rgba(0, 0, 0, 0.15));
                z-index: 100;


                &.show {
                    display: block;
                }

            }


            h3 {
                font-family: $font-secondary-regular;
                color: $brand-primary;
                text-transform: uppercase;
                margin: 0;
                margin-bottom: 10px;
                font-size: 16px;
            }


            & ul {
                padding-left: 0;

                li {
                    text-align: left;
                }

                a {
                    font-family: $font-secondary-regular;
                    color: $gray-darker;
                    border-bottom: 0;
                    line-height: 18px;
                    display: inline-block;
                    margin-bottom: 10px;
                    font-weight: normal;
                    font-size:14px;
                    @include dotted-line(bottom, $brand-light-text);

                    &:hover {
                        @include dotted-line(bottom, $gray-darker);
                    }
                }

            }

        }

        .row:first-child {
            margin-top: 25px;
            padding-bottom: 19px;
            position: relative;
        }


        .security-pledge {
            height: 95px;
            text-align: left;

            &:before {
                content: '';
                display: block;
                @include dotted-line(top, $gray-darker);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
            }

            a {
                border-bottom: none;
                text-transform: uppercase;
                padding-top: 32px;
                position: relative;
                display: block;
                padding-left: 60px;
                font-size: 15px;
                padding-bottom: 5px;

                span {
                    padding: 0;
                }
            }

        }

    }

}