




@media  (max-width: 767px) {
    .desktopHeader {
        display: none !important;
    }
}


/*@media (max-width: 768px) {

    .secondary {
        height: 70px !important; 

        .row {
            margin: 0;
        }
    }
}*/

@media  (max-width: 767px) {

    .mobileNavcontainer {
        height: 70px !important; 
        display: block !important;
    }

    table.mobileNavcontainer {
        display: table;
    }
    tr.mobileNavcontainer {
        display: table-row !important;
    }
    th.mobileNavcontainer,
    td.mobileNavcontainer {
        display: table-cell !important;
    }

    .row {
        margin: 0;
    }
}


@media  (min-width: 767px) {

    .mobileNavcontainer {
        display: none !important;
    }
}

/*.visible-xs {
    display: block !important;
    }
table.visible-xs {
    display: table;
}
tr.visible-xs {
    display: table-row !important;
}
th.visible-xs,
td.visible-xs {
    display: table-cell !important;
}*/


.secondary {
    
    @include background-image(linear-gradient($brand-primary, lighten($brand-primary, 4%)));
    @include box-shadow(0 2px 3px 0 rgba(0,0,0,0.15));
    height: 103px;
    position: relative;
    z-index: 1;


    

    h1, h2 {
        color: $brand-secondary;
        text-align: left;
    }
    
    h1 {
        @include retina-sprite(ee-logo-yellow);
        display: block;
        text-indent: -9999px;
        margin-top: 15px;
        margin-left: 14px;

        @include until($screen-md-max-header) {
            @include retina-sprite(ee-logo-yellow-mobile);
            
            margin-top: 8px;
            margin-left: 28px;
        }
    }


    h2 {
        color: $brand-secondary;
        font-family: $font-primary-light;
        font-size: 37px;
        line-height: floor(($line-height-computed * 3.4)); // ~34px
        margin-top: 21px;
        margin-bottom: 10px;

        @include until($screen-xs-max) {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.4px;
            margin-top: 9px;
        }

        @include from-to($screen-sm-min, $screen-sm-max) {
            font-size: 32px;
        }
    }
    .lt-ie9 &{ 

        background-color:$brand-primary;
    }

    .lt-ie10 &{
       // background: mix(@start, @end, 50%);
        filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#007B85", endColorStr="#007B85");
       // background-color: rgba(180, 180, 144, 0.6);


    }
    .apps-support {
        color: $brand-secondary;
        font-family: $font-secondary-regular;
        text-align:right;

    }

}

.title-links {
    margin-left: 17px;

    @include until($screen-xs-max) {
        margin-left: 0;
        padding-left: 14px;
    }

    @include from-to($screen-sm-min, $screen-sm-max) {
        padding-right: 0;
    }
}

/* for right side of numbers */

.title-links-right{
    float:right;
    margin-top:20px;

    h2{
        text-align:right;
        padding:0px;
        margin:0px;
        margin-top:-8px;
        letter-spacing:.01em;
        font-size:33px;
    }
}



.main-nav { 
    margin-top: 39px;
    line-height: 1;
    margin-left: 4px;

    @include until($screen-md-max-header) {
        display: none;
    }

    li {
        padding-right: 13px;
        padding-left: 15px;
        @include dotted-line(left, $brand-light-text);

        &:first-child {
            padding-left: 0;
            border-left: 0;
        }
    }

    a {
        color: $brand-light-text;
        font-family: $font-primary-light;
        text-transform: uppercase;
        font-size: 22px;
        border-bottom: 0;

        @include from-to($screen-sm-min, $screen-sm-max) {
            font-size: 18px;
        }

        @include at-least($screen-sm-min) {

            &:hover {
                color: $brand-light-text;
                text-decoration: none;
                @include dotted-line(bottom, $brand-light-text);
            }
        }
    }
}

.head-info {
    padding: 0;
}


.mobile-menu {
    color: #fff;
    font-family: $font-secondary-bold;
    font-size: 14px;
    margin-top: 20px;
    @include dotted-line(left, $brand-light-text);
    border-bottom: 0;
    padding: 6px 0 5px 18px;
    display: none;

    @include until($screen-md-max-header) {
        display: block;
    }
}


.mobileNav {
    
    @include until($screen-sm-max) {
        display: block;
    }
    
    .btn{
        height: 50px;
        width: 50px;
        display: inline-block;
        padding: 0;
        padding-top: 22px;
        float: right;
        background: none;
        color: #fff;
        box-shadow: none;
        font-size: 18px;
        text-transform: none;
        .icon-bar {
            display: block;
            width: 60%;
            height: 4px;
            border-radius: 1px;
            border-color: $brand-primary;
            background-color:$brand-primary;
            margin-bottom: 6px;
            margin-left: 20%;
        }
        .icon-Contact{
            font-size: 40px;
            border-right: 1px solid #fff;
            padding-right: 16px;
        }
        &.contact{
            padding-top: 19px;
            margin-right: 6px;
        }
        &.menu-btn {
            margin: 6px 0 0 0;
            width: 81px;
            height: 67px;
            border-radius: 0;
            padding-left: 4px;
        }
        
    }
    .menu-on {
        background-color: #fff!important;
        color: #007b85!important;
    }
    .menu-off {
        background-color: #007b85!important;
        background-image: linear-gradient(#007b85, #008e99);
        color: #fff!important;
        height: 64px!important;
    }
}

.mobileNavMenu{
    display: none;
    @include until($screen-sm-max) {
        display: block;
    }
    .container{
        height: auto;
        padding: 10px 24px;
    }
    .links-header{
        li{
            margin: 12px 0;
        }
    }
    border-bottom: 5px solid #007b85;
}

.security-icon{

    @include retina-sprite(security);
    display:block;
    float:left;
    margin-top:30px;

}





