/*

    Typography

 */


// Nobblee Font

@font-face {
    font-family: 'EENobbleeBold';
    src: url('../fonts/ee_nobblee_boldwebfont.eot');
    src: url('../fonts/ee_nobblee_boldwebfont.eot?#iefix') format('embedded-opentype'),url('../fonts/ee_nobblee_boldwebfont.woff') format('woff'),url('../fonts/ee_nobblee_boldwebfont.ttf') format('truetype'),url('../fonts/ee_nobblee_boldwebfont.svg#EENobbleeBold') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'EENobbleeLightRegular';
    src: url('../fonts/ee_nobblee_lightwebfont.eot');
    src: url('../fonts/ee_nobblee_lightwebfont.eot?#iefix') format('embedded-opentype'),url('../fonts/ee_nobblee_lightwebfont.woff') format('woff'),url('../fonts/ee_nobblee_lightwebfont.ttf') format('truetype'),url('../fonts/ee_nobblee_lightwebfont.svg#EENobbleeLightRegular') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'EENobbleeRegular';
    src: url('../fonts/ee_nobblee_regularwebfont.eot');
    src: url('../fonts/ee_nobblee_regularwebfont.eot?#iefix') format('embedded-opentype'),url('../fonts/ee_nobblee_regularwebfont.woff') format('woff'),url('../fonts/ee_nobblee_regularwebfont.ttf') format('truetype'),url('../fonts/ee_nobblee_regularwebfont.svg#EENobbleeRegular') format('svg');
    font-weight: normal;
    font-style: normal
}



// Rubrik Font

@font-face {
    font-family: "ee_rubrik_regular";
    src: url("../fonts/rubrik_regular.eot?#iefix") format("embedded-opentype"),url("../fonts/rubrik_regular.woff") format("woff"),url("../fonts/rubrik_regular.ttf") format("truetype"),url("../fonts/rubrik_regular.svg#rubrik_regular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "ee_rubrik_semibold";
    src: url("../fonts/rubrik-semibold.eot?#iefix") format("embedded-opentype"),url("../fonts/rubrik-semibold.woff") format("woff"),url("../fonts/rubrik-semibold.ttf") format("truetype"),url("../fonts/rubrik-semibold.svg#rubrik-semibold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "ee_rubrik_light";
    src: url("../fonts/rubrik-light.eot?#iefix") format("embedded-opentype"),url("../fonts/rubrik-light.woff") format("woff"),url("../fonts/rubrik-light.ttf") format("truetype"),url("../fonts/rubrik-light.svg#rubrik-light") format("svg");
    font-weight: normal;
    font-style: normal
}

// Icon Fonts

@font-face {
    font-family: 'EE';
    src:url('../fonts/icons/EE.eot?-ikbi9i');
    src:url('../fonts/icons/EE.eot?#iefix-ikbi9i') format('embedded-opentype'),
        url('../fonts/icons/EE.woff?-ikbi9i') format('woff'),
        url('../fonts/icons/EE.ttf?-ikbi9i') format('truetype'),
        url('../fonts/icons/EE.svg?-ikbi9i#EE') format('svg');
    font-weight: normal;
    font-style: normal;
}



h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}