.billing-history {

	h2 {
		margin-top: 1.5em;
	}
	h3 {
		font-weight: bold;
	}
	.pending {
		color: $neon-carrot;
	}
	.paid {
		color: $fun-green;
	}
	.overdue {
		color: $red;
	}
	.fa {
		vertical-align: top;
	}
	hr {
		margin-top: 30px;
	}
	.visible-xs {
		p {
			margin-bottom: 0;
		}
	}

}

