/* dashboard.scss */

.dashboard-section-tools {
	margin-top: 15px !important;
}

.dashboard-section {
	margin-top: 30px;
	ul{
		list-style-type: none;
	}
	@media (max-width: '1024px') {
		margin-top: 20px;
	}
	.fa-times {
		font-size: 18px;
		font-weight: 300;
	}
	.notifications-wrapper{
		.alert-grey-style{
			background-color: rgba(222, 222, 222, 0.3);
			border-radius: 0;
			padding: 10px 20px;
			margin-bottom: 5px;
			.close{
				right: 0px;
				color: $tundora;
				opacity: 1;
				font-size: 20px;
				&:hover {
					color: $goldenrod;
				}
			}
			.close-all{
				margin-top: 5px;
				margin-right: 0;
				font-size: 16px;
			}
			.notification-title{
				h4{
					display: inline;
					vertical-align: middle;
					color: $tundora;
				}
			}
			p{
				line-height: 1.2;
				a{
					font-size: 16px;
				}
			} 
		}
		.one-notification{
			padding: 20px;
			.notification-title{
				margin-bottom: 10px;
			}
		}
	}
	.welcome-wrapper{
		.message-box{
			padding: 20px;
			background-color: rgba(222, 222, 222, 0.3);
			h2 {
				margin: 0px 0px 20px;
			}
			.fa-times {
				cursor: pointer;
			}
		}
	}
	.dashboard-wrapper{
		h2{
			margin-bottom: 30px;
			color: $mine-shaft;
		}
		.tiles-row{
			.apps-tile{ 

				.free-trial-corner {
				    width: 0;
			        position: absolute;
					top: 1px;
					left: 16px;
					border-width: 30px;
					border-style: solid;
					border-color: rgba(255,190,0,0.9) transparent transparent rgba(255,190,0,0.9);
					.fa-stack {
						position: absolute;
					    top: -24px;
					    left: -18px;   
					    .fa-info {
					    	font-size: 25px;
				    		font-weight: normal;
					    }
					}
				}
				.expand {
					border: none;
					height: 140px;
					width: 100%;
					position: absolute;
					top: 0;
					left: 15px;
					padding-right: 30px;
					background-clip: content-box;
					background-color: rgba(255,190,0,0.9);
					.fa-times {
					    position: absolute;
					    top: 10px;
					    left: 12px;
					    font-size: 20px; 
					}
					.fa-stack {
						top: 30px;
						left: 50%;
					}
					.expand-text {
						margin-top: 40px;
						p {
							margin-bottom: 0;
							font-weight: bold;
						}
					}
					

				}
				

				height: 233px;
				border: 1px solid $mercury;
				padding: 20px 30px;
				@include until($screen-md-max) {
					padding: 20px 15px;
					height: 250px;
				}
				@include media-size('mobile') {
					height: auto;
				}
				margin-bottom: 2em;
				.apps-tile-content {
					height: 127px;
					.img-responsive{
						margin: auto auto 15px;
					}
					p{
						text-align: center;
						padding: 0 30px;
						line-height: 1.2;
						margin: 0;
					}
					.fa-plus-square{
						font-size: 70px;
						padding: 20px;
					}
				}
				.apps-tile-links{
					margin-top: 20px;
					.tile-link{
						font-size: 14px;
					}
					p.tile-link{
						font-weight: 700;
					}
					.ended-message{
						font-size: 14px;
						color: #7a7a7a;
						font-style: italic;
					}

					@include media-size('mobile') {
						margin-top: 0;
						ul {
							float: none !important;
							text-align: center;
							li {
								padding-top: 10px;
							}
						}
					}
				}
			}
			.no-products {
				@include media-size("mobile") {
					padding: 20px 0;
				}
				h2 {
					margin-bottom: 20px;
				}
				.apps-tile-links {
					margin-top: 5px;
					.btn {
						text-align: center;
						line-height: 1.2;
						@include media-size("mobile") {
							font-size: 15px;
						}
					}
				}
				
			}
		}
	}
	
	.tools-wrapper{
		border-top: 1px solid $mercury;
    	padding-top: 2em;
    	.tools-tile{
			height: 178px;
			background-color: $tundora;
			padding: 30px 40px;
			margin-bottom: 2em;

			@include media-size('mobile') {
				height: auto;
			}
			.img-responsive{
				display:inline;
				vertical-align: bottom;
			}
			a {
				display:inline;
				color: $mtn-yellow;
				font-size: 20px;
				font-weight: bold;
				margin-left: 10px;
				&:after{
					font-family: 'FontAwesome';
					content: "\f105";
    				margin-left: 10px;
    				font-size: 22px;
				}
			}
			p{
				color: $white;
				text-align: justify;
				line-height: 1.2;
				margin: 20px auto 0;
			}
		}
	}
	.btn-dashboard{
		width: 136px;
		height: 36px;
	}

	
} 