.eoi{
	.modal-content {
		padding-top: 20px;
		padding-bottom: 20px;
		.modal-header{
			border-bottom: none;
			padding: 25px 15px 5px 15px;
		}
		.modal-body{
			.add-margin{
				margin-bottom: 1em;
			}
			.row{
				.phone-field{
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			.call-row{
				margin-top: 2em;
			}
			.reason-row{
				margin-top: 1em;
			}
			.btn-row{
				margin-top: 2em;
			}
			i {
			    vertical-align: middle;
    			margin-left: 20px;
			}
		}
	}
}

.confirm-cust-acc-cancel {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
	background-color: $white;
	position: fixed;
	top: 100px;
	right: 35%;
	width: 30%;

	@media (max-width: $screen-sm-min) {
		position: relative;
		top: 0px;
		right: 0px;
		width: 100%;
		box-shadow: none;
	}
}