.manage-users{
	h2 {
		margin-top: 1.5em;
	}
	h3 {
		font-weight: bold;
	}
	.xs-heading {
        color: $tundora;
        font-weight: bold;
    }
	a {
        padding-right: 10px;
    }
    label {
        font-weight: normal;
    }
    .clear-search {
        margin-top: 50px;
        position: absolute;
        @include media-size('mobile'){
            margin-top: 15px;
        }
    }
    .fa-times {
        font-size: 16px;
        font-weight: normal;
        padding-right: 5px;
    }
	.manage-users-action {
		font-size: $font-copy-size;
	}
	.left-divider{
        border-left: 1px solid #ccc;
        padding-left: 15px;
    }
	.panel-heading {
        padding: 0;
        background-color: rgba(222, 222, 222, 0.3);
        border-color: $alto;
        .user-title {
            display: inline-block;
            padding: 10px 15px;
            width: 100%;
            &:after{
                font-family: 'FontAwesome';
                content: "\f106";
                font-size: 20px;
            }
            .licence-available {
            	margin-top: 4px;
            }

        }
        .collapsed {
            &:after{
                font-family: 'FontAwesome';
                content: "\f107";
                font-size: 20px;
            }
        }
    }
    @include media-size('mobile') {
    	hr {
        	margin-bottom: 15px;
    		margin-top: 15px;
        }
    }
}

.assign-licences {
	.user-divider {
		margin: 10px auto 15px auto;
		border-top-style: dotted;
	}
	hr {
		margin: 20px auto;
	}
	.user-row {
		p{
			margin-bottom: 0px;
		}
		.assign-name {
			display: inline;
		}
		span {
			color: $grey;
			font-style: italic;
		}
	}
	.no-users-message {
		margin-top: 1.5em;
		.fa {
			font-size: 14px;
   			font-weight: normal;
		}
		p {
			font-weight: bold;
		}
	}

}