/* no padding classes */
.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}


/* no margin classes */

.no-margin {
    margin: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

/* add more margin classes */
.margin-top-330 {
    margin-top: 330px;
} 

.margin-bottom-minus-30 {
    margin-bottom: -30px;
}

.margin-top-minus-25 {
    margin-top: -25px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-26 {
    margin-bottom: 26px;
}

.margin-top-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
}
.no-left-border {
    border-left: none!important;
}

.margin-top-10p {
    margin-top: 10%;
}
.margin-top-2em {
    margin-top: 2em;
}