/** Scaffolding **/

body {
	height: 100%;
}
hr {
	border-top: 1px solid $alto;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content-wrapper {
	min-height: 100%;
	height: auto!important;
	height: 100%;
	/** Bottom margin needs to the same as the footer's height **/
	margin: 0 auto -70px;
}

.row.bottom-padding {
	padding-bottom:0.5em
}

section.bottom-padding {
    margin-bottom: 40px;
}
div.checkbox-left-padding {
	padding-left:5px
}

.row.bottom-margin {
	margin-bottom:1em
}
.custom-vertical-space {
	height:1em
}
.border-right {
	border-right: 1px solid #eee
}
.form-field-aligner {
	position: absolute;
	margin-top: 33px;

	@include media-size('mobile') {
		position: relative;
	}
}
.accordion {
	margin: 30px 0;
}

.position-bottom {
	position: absolute;
	bottom: 0;
}

@media print {
   .noprint { display:none; }
   #printarea, #printarea * { display:block; }
}