h1 {
    color: $color-h1;
    font-family: $font-primary-regular;
    font-size: $font-h1-size;
    margin-top: 1.5em;
}

h2 {
    color: $color-h2;
    font-family: $font-primary-regular;
    font-size: $font-h2-size;
    margin: 20px 0 20px 0;
}

h3 {
    color: $color-h3;
    font-family: $font-primary-bold;
    font-size: $font-h3-size;
    line-height: 30px;
}

h4 {
    color: $color-h4;
    font-family: $font-primary-regular;
    font-size: $font-h4-size;
    font-weight: bold;
}

h5 {
    color: $color-h5;
    font-family: $font-primary-regular;
    font-size: $font-h5-size;
}

p {
    color: $color-copy;
    font-family: $font-primary-regular;
    font-size: $font-copy-size;
    line-height: 24px;
}

label {
    color: $color-label;
}

small {
    font-size: $font-copy-size-small;
}

a {
    color: $color-link-primary;
    font-size: $font-link-size;
    font-weight: bold;
    outline: 0;
    &:hover {
        color: $color-link-hover-primary;
        text-decoration: none;
        outline: 0;
    }
    &:focus {
        text-decoration: none;
        outline: 0;
    }
    &:visited {
        text-decoration: none;
        outline: 0;
    }
}
a.secondary {
    color: $color-link-secondary;
    font-size: $font-link-size;
    font-weight: bold;
    &:hover {
        color: $color-link-hover-secondary;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}

/* this is for the pen icon to align with text */
.glyphicon-alignment {
    position:relative;
    bottom:2px;
    margin-left:10px
}

.fa {
    font-size: $font-fa-size;
    font-weight: bold;
}
.word-wrap {
    word-wrap: break-word;
}
