# Logs
logs
temp
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
lib-cov

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# NodeJS
node_modules
build/Release
.lock-wscript

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties