%svg-common {
	background-repeat: no-repeat;
	background-image: url('images/svg-sprite.svg');
}

.svg-blank {
	background-position: 0 0;
	@extend %svg-common;
}

.svg-blank-dims {
	width: 8px;
	height: 8px;
}

